#Phaser-Game {
    font-family: 'press_start_2pregular';
    font-size: 32px
}

#twitter-link {
    font-family: 'press_start_2pregular';
    font-size: 20px;
    color: #1DA1F2;
}

a {
    font-family: 'press_start_2pregular';
    font-size: 20px;
    color: black;
}
